.container {
  padding: 30px 50px;
  /* overflow: scroll; */
  height: auto;
}

.info {
  /* height: 63px; */
  margin-left: 10px;
  margin-bottom: 20px;
}

.info_h {
  font-size: 36px;
  font-weight: 500;
  text-transform: capitalize;
}

.info_p {
  font-size: 14px;
  font-weight: 600;
  color: #828282;
}

.search {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-left: 10px;
}

.search__filter {
  width: 200px;
  height: 40px;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.filter_HK {
  height: 36px;
  min-width: 90px;
  border-radius: 6px;
  border: 1px solid #787486;
  margin-right: 12px;
  padding: 0px 5px;
  outline: none;
}

.search__search {
  background-color: #DBDBDB;
  width: 417px;
  height: 36px;
  border-radius: 6px;
  padding: 14px 50px 13px 56px;
  box-sizing: border-box;
}

.table {
  width: 100%;
  height: 308px;
  border-radius: 10px;
  border: 1px solid #e6e8ec;
  background: #FFF;
  box-shadow: 0px 1px 48px 0px rgba(25, 39, 89, 0.06);
  /* overflow: auto; */
  margin-bottom: 27px;
}

.table>table {
  width: 95%;
  margin: 0px 2.5%;
  height: 302px;
}

.table>table>thead {
  border-bottom: 1px solid #dbdbdb;
  height: 47px;
  width: calc(100% - 1em);

}

.table>table>thead>th {
  height: 18px;
  color: #000;
  font-size: 14px;
  font-weight: 600;
  align-items: center;
  background-color: #FFF;
}


.table tbody {
  display: block;
  height: 80px;
  overflow-y: auto;

}

.table>table>tbody>tr {
  padding: 5px;
  height: 30px;
  cursor: pointer;

}

.table>table>tbody>tr:hover {
  background-color: #f9fafa;
}

.table thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.table>table>tbody>tr>td {
  text-align: center;
  align-items: center;
}

.hidden_td {
  padding: 0px 0px 0px 40px;
  vertical-align: middle;
}

.formPormote {
  display: flex;
  justify-content: center;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  padding: 40px 70px 18px;
  
}

.fP__block {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.block_1 {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
}
.block_2 {
  display: flex;
}

.block_item {
  display: flex;
  flex-direction: column;
  margin: 0px 10px
}

.item_box {
  border: 1px solid #787486;
  border-radius: 6px;
  height: 37px;
  width: 160px;
  margin-bottom: 20px;
  background-color: #fff;
  padding: 0px 5px;
  outline: none;
  margin: 5px 0px;
}

.input_date {
  width: 340px;
}

.label_date {
  display: flex;
  flex-direction: row;
}

.btn_save {
  border: 1px solid #787486;
  border-radius: 6px;
  width: 130px;
  height: 37px;
  margin-top: 29px;
}

.btn_save:hover{
  box-shadow: 0px 0px 10px #8888;
  transform: translateY(-1px);
  background-color: #0F6CBF;
}

