/* Container cho toàn bộ phần ConfigPrint */
.configPrint {
        font-family: Arial, sans-serif;
        padding: 2vh 3vw;
        size: 100%;
        position: absolute;
}

/* Header */
.header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
}

.headerTitle {
        font-size: 24px;
        font-weight: bold;
}

.headerSubtitle {
        font-size: 14px;
        color: #555;
        margin-bottom: 10px;
}

/* Search tool */
.filterAndSearch {
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0px;
        align-items: center;
}

.headerSearch {
        background-color: #F5F5F5;
        width: 59%;
        display: flex;
        align-items: center;
        border: 1px solid #ddd;
        padding: 7px 4px;
        border-radius: 5px;
}

.searchIcon {
        display: flex;
        width: 22px;
        height: 22px;
        margin: 0px 15px 0px 10px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
}

.headerSearchInput {
        background-color: rgba(0, 0, 0, 0);
        width: 100%;
        font-size: 14px;
        border: none;
        outline: none;
        flex: 1;
}

/* Filter section */
/* .filterSection {
        width: 110px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 1px;
        border: 1px solid #ddd;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease;
}

.filterSection:hover {
        box-shadow: 0px 0px 10px #8888;
        transform: translateY(-1px);
}

.filterButton {
        border: none;
        margin: 0 8px;
        color: #555;
} */
.filterContainer {
        position: relative;
        display: inline-block;
}

.filterButton {
        width: 110px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 1px;
        border: 1px solid #ddd;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease;

        color: #787486;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
        gap: 10px;
}

.filterButton:hover {
        box-shadow: 0px 0px 10px #8888;
        transform: translateY(-1px);
}

.filterIcon1,
.filterIcon2 {
        width: 16px;
        height: 16px;
}

.filterMenu {
        position: absolute;
        display: grid;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        top: 110%;
        left: 0;
        width: 300px;
        background-color: rgba(50, 50, 50, 0.86);
        backdrop-filter: blur(2px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 12px;
        padding: 20px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
        z-index: 1000;
        opacity: 1;
        transform: translateY(-10px);
        transition: opacity 0.3s ease, transform 0.3s ease;
}

.filterMenu.show {
        opacity: 1;
        transform: translateY(0);
}

.filter1 {
        grid-row: 1 / 2;
}

.filter2 {
        grid-row: 2 / 3;
}

.filterOption {
        margin-bottom: 10px;
}

.filterOption label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        font-size: 16px;
        color: #ffffff;
}

.filterInput {
        width: 100% !important;
        height: 100% !important;
        border: 1px solid rgba(255, 255, 255, 0.2) !important;
        border-radius: 8px !important;
        font-size: 15px !important;
        background-color: rgba(255, 255, 255, 0.1) !important;
        color: #ffffff !important;
}

.filterInput::placeholder {
        color: rgba(255, 255, 255, 0.7);
}

.filterOption option {
        background-color: rgba(38, 38, 38, 0.581);
}

.applyButton {
        width: 100%;
        padding: 12px;
        background-color: #4CAF50;
        border: none;
        border-radius: 8px;
        color: white;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s;
        text-transform: uppercase;
        font-weight: bold;
}

.applyButton:hover {
        background-color: #45a049;
}


/* Main content - Printer dashboard */
.printerDashboard {
        background-color: #f5f5f5;
        flex-wrap: wrap;
        gap: 20px;
        padding: 30px;
        border-radius: 10px;
        height: 65vh;
        width: 79vw;
        overflow-y: auto;
}

.printerGrid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        gap: 80px;
        grid-auto-flow: dense;
}



/* Printer card */
.printerCard {
        background-color: white;
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 15px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s, box-shadow 0.3s;
        position: relative;
}

.printerCard:hover {
        transform: translateY(-1px);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.printerCardHeader {
        display: grid;
        grid-template-columns: 1fr 6fr 1fr;
        align-items: center;
        margin-bottom: 10px;
}

.printerCardDots {
        grid-column: 1 / 2;
        color: #0D062D;
        text-align: center;
        font-family: Inter;
        font-size: 2rem;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        letter-spacing: -3px;
        cursor: pointer;
        margin-bottom: 15px;
        user-select: none;
        transition: transform 0.2s ease-in-out;
        width: 40px;
        height: 35px;
        display: grid;
        place-items: center;
}

.printerCardDots:hover {
        transform: scale(-3px);
        transform: translateY(-3px);
        border-radius: 40px;
}

.printerCardTitle {
        grid-column: 2 / 3;
        font-size: 1.6rem;
        font-weight: bold;
        margin: auto;
}

.printerStatusIndicator {
        grid-column: 3 / 4;
        width: 14px;
        height: 14px;
        flex-shrink: 0;
        border-radius: 10px;
        background: #FF5C5C;
        cursor: pointer;
}

.printerStatusIndicator:hover {
        box-shadow: 0px 0px 10px rgba(140, 105, 105, 0.615);
}


.printerCardDetails {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;

        color: #000;
        text-align: center;
        font-size: 0.85rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
}

.printerIcon {
        grid-column: 1 / 2;
        grid-row: 1 / 3;

        width: 100px;
        height: 100px;

}

.printerProcessing {
        grid-column: 2 / 3;
        grid-row: 1 / 2;

        padding-top: 10px;
}

.printerProcessingNumber {
        grid-column: 2 / 3;
        grid-row: 2 / 3;

        color: #000;
        text-align: center;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
}

.printerProgress {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
        display: grid;
        grid-template-rows: 1fr 1fr;
        align-items: center;
}

.printerPages {
        grid-row: 1 / 2;
        display: grid;
        grid-template-columns: 1fr 3fr;
        align-items: center;
}

.printerInk {
        grid-row: 2 / 3;
        display: grid;
        grid-template-columns: 1fr 3fr;
        align-items: center;
}

.NumberOfPages {
        grid-column: 1 / 2;
        justify-self: center;
}

.AmountOfInk {
        grid-column: 1 / 2;
        justify-self: center;
}

.PageProgressBar {
        grid-column: 2 / 3;
}

.InkProgressBar {
        grid-column: 2 / 3;
}

.ProgressBar {
        padding: 5px 7px;
        margin-right: 10px;
}




/* Editable card */
.overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.9);/* White with transparency */
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1000;
        border-radius: 10px;
}

.overlayContent {
        width: 100%;
        height: 100%;
        padding: 16px;
        background-color: rgba(255, 255, 255, 0);
        backdrop-filter: blur(1.5px);
        border-radius: 10px;
        display: flex; 
        justify-content: center;  
        align-items: center;
}

.printerForm {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: center;
        gap: 10px;
}

.printerForm label {
        grid-column: 1 / 2;
        margin-bottom: 5px;
        width: 100%;
}

.printerInput {
        grid-column: 2 / 3;
        padding: 5px 10px !important;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 100% !important;
        height: 100% !important;
        box-sizing: border-box;
}

/* CSS cho nút Save */
.printerSubmit {
        grid-column: 2 / 3;
        justify-self: end;
        margin: 10px 15px 0 0;
        width: 100px;
        height: 35px;
        background-image: linear-gradient(90deg, rgba(64, 67, 75, 0.392), rgba(2, 15, 50, 0.926));
        color: white;
        border: none;
        border-radius: 8px;
        font-size: 16px;
        cursor: pointer;
        font-weight: bold;
        text-transform: uppercase;
        transition: transform 0.1s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
}

.printerSubmit:hover {
        transform: scale(1.1);
}