.sliderbar{
    height: calc(100vh - 70px);
    width: 220px;
    position: relative;

}

.sliderbar::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background: #DBDBDB;
    z-index: 1;
}

.itemSliderbar{
    margin-bottom: 10px;
    height: 40px;
    padding: 8px;
    width: 100px; 
    bottom: 0;
    cursor: pointer;
    width: 200px;         
    white-space: nowrap;  
    overflow: hidden;     
    text-overflow: ellipsis; 
}

.itemSliderbar:hover{
    font-weight: bold;
    color: #5030E5;
}

.activate{
    border-radius: 6px;
    background: #5030e514;
}